*{
	margin: 0px;
}

/*------------------BODY Y CLASES VARIAS---------------------------------------------*/
body {

	font-family: "raleway", sans-serif;
	background-color: black;
	
     }

.letraBlanca {

	color: white;
	
             }   
.letraAzul {

	color: #35F9C4;
}               

.main-contacto__boton--margen{

	margin-bottom: 30PX;
	margin-right: 15px;
}

/*-------TODO LO QUE ES EL HEADER Y LA BARRA DEL MENÚ-------------*/
/*----------------------------------------------------------------*/
/*EL LOGO Y NOMBRE DE LA EMPRESA*/
header{

	text-align: center;
	background-image: url(../img/stars_space_universe_galaxy_nebula_119068_3840x2400.jpg);
	background-size: cover;
	      }

header img{

	width: 200px;
	height: 200px;
}	      

.header__titulo{

	font-family: "monoton";
	text-shadow: -5px 5px #35F9C4;
	font-size: 2.5em;
	letter-spacing: 5px;
	word-spacing: 20px;
	  }
/*-----------------------------RESPONSIVE-------------------------------------------------------------*/


@media(max-width: 768px) {

	.header__titulo{

		font-family: "monoton";
        text-shadow: -1px 3px #35F9C4;
        font-size: 20px;
        word-spacing: 10px;
	}

	header img{

	width: 100px;
	height: 100px;
    }	      
    
div.anuncio{
	font-size: 13px;
  }

 .main-cajaTransparente__parrafoAjustado{

	
	margin-top: 20px;
	font-size: 13px;
	margin-right: 2px;	
} 

 .main-cajaTransparente__parrafoAjustado--chico{

	
	margin-top: 20px;
	font-size: 15px;	
} 

ul#listaIndexSinVinieta{

	display: none;
}

div.carousel-item{
	img{
    margin: 0 auto;
    height: 20vh;}
}

}	

    

/*------------------------LA BARRA DE MENÚ-------------------------*/

.barraMenu{

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;	
	
}


nav {

	background-color: white;

	 }


  div#navbarNavDropdown ul {

  	margin: 0 auto;

  	  a:hoover{
  	  	 color: #35F9C4;
	     transition-duration: 0.5s;
  	  }
  }


  
/*------------------------AQUÍ COMIENZA EL MAIN-----------------------*/
/*--------------------------------------------------------------------*/
main{

	background-image: url(../img/stars_space_universe_galaxy_nebula_119068_3840x2400.jpg);
	background-attachment: fixed;
	background-size: cover;
}

/*-----------------------------------------INDEX----------------------------------------------------*/

.main-cajaTransparente__parrafoAjustado--chico{

	text-align: justify;
	line-height: 1.5;
	margin-top: 3vh;
	width: 350px;
	height: 300px;
	
}  

.main-cajaTransparente__parrafoAjustado{

	text-align: justify;
	line-height: 1.5;
	
}  
  

.main-cajaTransparente{


	background-color: rgba(255, 255, 255, 0.3);
	
	margin: 4% auto;
	padding: 2%;
	
	overflow: hidden;
}

.main-cajaTransparente__fondoTitulo{

	background-color: rgba(0, 0, 0, 0.2);
	text-align: center;  

}

#imagenGrande2{

	width: 100vw;
	height: 80vh;
	background-image: url(../img/thumb-1920-757057.jpg);
	background-position: center;
}

#imagenGrande1{

	width: 100vw;
	height: 80vh;
	background-image: url(../img/thumb-1920-876878.png);
	background-position: center;
}

/*-LISTA DE IMAGENES AL LADO DEL "QUIENES SOMOS"-*/

.main-cajaTransparente__listaImagenes{

	margin: 5px;
	width: 45vw;
	height: 10vh;
	overflow: hidden;
	background-position: center;
	background-size: cover;

}

#listaIndexSinVinieta{

	list-style: none;
}

#imagenIndex0{

	background-image: url(../img/shutterstock_609809297.jpg);
}

#imagenIndex1{

	background-image: url(../img/thumb-1920-778570.jpg);
	
}

#imagenIndex2{

	background-image: url(../img/img_taza-cafe-hd.jpg);
	
}

#imagenIndex3{

	background-image: url(../img/cafe-cafeina-estacion-internacional.jpg);
	
}

#imagenIndex4{

	background-image: url(../img/coffee-beans-coffee-concepts-large-grains-coffee-background.jpg);
	
}



@keyframes anuncio{

	0%{ background-color: #F6FB69 }

	20%{ background-color: #FA7720 }

	40%{ background-color: #FD1717 }

	60%{ background-color: #F6FB69  }

	80%{ background-color: #FA7720 }

	100%{ background-color: #FD1717 }
}

.anuncio{


    background-color: #FD1717;
	width: 100vw;
	height: 5vh;
	font-family: "monoton";
	font-size: 100%;
	color: black;
	text-align: center;

   animation-name: anuncio;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in;
   animation-duration: 1s;
   animation-delay: 0s;

}


/*--------------------------------------------------TIENDA---------------------------------------*/

.tienda{

	display: flex;
	flex-direction: row;
	justify-content: space-around;

	
}

.tienda__producto{

	flex: 0 0 200px;
	margin: 10px;
	border: 1px solid #35F9C4; 
	   img{
	   	width: 100%;
	   }
}



.cursos-carrusel__imagen--tamanio{
    
    height: 50vh;
    margin: 0 auto;

}

/*.tienda__producto:hover img {

	transform: scale(2, 2);
}*/

@media(max-width: 768px){

	.tienda{

       display: flex;
	   flex-wrap: wrap;
	   flex-direction: column;
	   align-items: center;
	   justify-content: space-around;
	}

	.tienda__producto{

	width: 50%;
	height: auto;
	margin: 10px;
	border: none;

	         img{
	         	width: 100%;
	            height: auto; }
    }  
 
}

div#carouselExampleIndicators{

	margin-bottom: 30px;
}

/*---------------------------------CURSOS----------------------------------------------------------*/

.main-cajaTransparente--Oscura{
	background-color: black;
	margin-bottom: 30px;

	img{
		width: 500px;
		padding: 20px;
	}

	h1{
	    text-align: center;
	}
}

section#cursoFiltrado{
	margin-top: 30px;
}


/*---------------------------------TUTORIALES------------------------------------------------------*/

.main-cajaBlanca{

	background-color: white;
	overflow: hidden;
	padding: 2%;
	
}


#grillaTutoriales{

	display: grid;

	 grid-template-areas:
	 "img img img img"
     "section section section aside"
     "section section section aside"
     "section section section aside";

   grid-template-rows: 1fr auto auto auto; 
   grid-template-columns: 1fr 1fr 1fr 1fr;

   grid-column-gap: 20px;
   grid-row-gap: 20px;
  
}


div#imagenTutorialesGrande{

	grid-area: img;

    width: 100vw;
	height: 80vh;
	background-image: url(../img/coffee3-2.jpg);
	background-position: top;

}

section {

	grid-area: section;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;



	overflow: hidden;

}

aside {

	grid-area: aside;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	
}


#portadaAeropress{

    display: flex;
    
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    letter-spacing: 5px;
    text-shadow: 3px 3px black;
    text-decoration-line: underline overline;


	background-image: url(../img/a.jpg);
	background-size: cover;
	width: 100%;
	height: 50vh;
}

#portadaChemex{

    display: flex;
    
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    /*color: white;*/
    letter-spacing: 5px;
    text-shadow: 3px 3px black;
    text-decoration-line: underline overline;


	background-image: url(../img/chemexx.jpg);
	background-size: cover;
	background-position: top;
	width: 100%;
	height: 50vh;

}

#chemex{

	margin-top: 50px;
}

.tutorial{

	display: flex;

	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;

}



.tutorial__imagen--Pequeña{

	width: 45%;
	height: auto;
	margin: 2.2%;
}

.tutorial__parrafoAjustado{

	width: 45%;
	text-align: justify;
}

/*--------------EL ASIDE DE SPOTIFY Y SUS ELEMENTOS Y ANIMACIONES--------------------------------------*/

#iframeSpotify{

	position: sticky;
	top: 0px;
    height: 100vh;
	
}

.main-tutoriales__titulo--animado{
     
    text-align: center;
    font-family: "monoton";
    word-spacing: 5px;
  

   animation-name: spotify;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in;
   animation-duration: 1s;
   animation-delay: 0s;



}

@keyframes spotify{
  
    0%{ color: white}

	20%{ color: #35F9C4}

	40%{ color: #015941 }

	60%{ color: white  }

	80%{ color: #35F9C4 }

	100%{ color: #015941 }

}


/*-----------------------AQUI EMPIEZA EL FOOTER--------------------------*/
/*-----------------------------------------------------------------------*/
footer{

	text-align: center;
	background-color: #464646;
}


@each $redes in facebook, instagram, twitter, gmail {
	li.#{$redes} {
		background: url(../img/#{$redes}.png);
		background-repeat: no-repeat;

	}
}

.redes{ 	
	display: flex;
    justify-content: center;
    a{
    	margin-left: 10px;
    	margin-bottom: 10px;
    	li{
    		height: 24px;
    		width: 24px;
    		text-indent: -99999999px;
    	}    	
    }
 }