// variables----
$azul: #35F9C4;
$gris: #464646;

*{
	margin: 0px;
}

// variables----

/*------------------BODY Y CLASES VARIAS---------------------------------------------*/
body {

	font-family: "raleway", sans-serif;
	background-color: black;
}

.letraBlanca {

	color: white;
}            

.main-contacto__boton--margen{

	margin-bottom: 30px;
	margin-right: 15px;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
 }

.grid-body{

   display: grid;

   grid-template-areas:
     "header header"
     "nav nav"
     "main main"
     "footer footer";

   grid-template-rows: auto auto auto auto; 
   grid-template-columns: 1fr 1fr;

   height: 100vh;
   width: 100vw;
}

header {
   grid-area: header;
}
footer {
   grid-area: footer;
}
main{
	grid-area: main;
}
nav {
   grid-area: nav;
}    

/*-------TODO LO QUE ES EL HEADER Y LA BARRA DEL MENÚ-------------*/
/*----------------------------------------------------------------*/
/*EL LOGO Y NOMBRE DE LA EMPRESA*/
header{

	text-align: center;
	background-image: url(../img/stars_space.jpg);
	background-size: cover;
}

header img{

	width: 200px;
	height: 200px;
}	      

.header__titulo{

	font-family: "monoton";
	text-shadow: -5px 5px $azul;
	font-size: 2.5em;
	letter-spacing: 5px;
	word-spacing: 20px;
}
/*-----------------------------RESPONSIVE-------------------------------------------------------------*/

@media(max-width: 768px) {

	.header__titulo{

        text-shadow: -1px 3px $azul;
        font-size: 20px;
        word-spacing: 10px;
	}

	header{

		background-color: black;
		background-image: none;

		img{
	      width: 100px;
	      height: 100px;}
    }

    // ----index----

    div#main-index__imagenCohete, div#main-index__imagenCafeChocolate{

    	height: 10rem;

    	h3{
    		font-size: 15px;
    	}
    }     	      
    
    div.anuncio{

	    font-size: 13px;
	}

	div.main-cajaTransparente{

		background-color: $gris;
		opacity: 0.9;
	}  

    .main-cajaTransparente__parrafoAjustado{
	
	    margin-top: 20px;
	    font-size: 13px;
	    margin-right: 2px;	} 

    .main-cajaTransparente__parrafoAjustado--chico{
	
	    margin-top: 20px;
	    font-size: 15px;	
    } 

    // -----tienda responsive-------

    div.tienda__carruselPortada--responsivo{

	    img{
        margin: 0 auto;
        height: 20vh;}
    }

    p.tienda__cartelOfertas{

    	font-size: 15px;
    	letter-spacing: 2px;
    }

    // ----tutoriales----
    section{
      div{
    	div.tutoriales__imagenGuia--responsiva{
    		text-align: center;
    		img{
    			height: 100px;
    			width: auto;
    		}
    	}
      }
   }

   p.tutorial__parrafoAjustado{
   	text-align: center;
   }    
}
// ----lista de imágenes en el index-----

@media(max-width: 992px){

	 ul#listaIndexSinVinieta{

	    display: none;
    }
}	
// ---responsive en la tienda con dispositivos tamaño tablet---

@media(min-width: 887px) {

	div.tienda__agrupacionProductos--flexible{
		flex-wrap: nowrap;}	
}


/*------------------------LA BARRA DE MENÚ-------------------------*/

nav {

	background-color: white;
}

  div#navbarNavDropdown ul {

  	margin: 0 auto;

  	  a:hover{
  	  	 color: $azul;
	     transition-duration: 0.5s;
  	  }
  }
  
/*------------------------AQUÍ COMIENZA EL MAIN-----------------------*/
/*--------------------------------------------------------------------*/
main{

	background-image: url(../img/stars_space.jpg);
	background-attachment: fixed;
	background-size: cover;
}

/*-----------------------------------------INDEX----------------------------------------------------*/

#main-index__imagenCohete{

    height: 30rem;
	background-image: url(../img/cohete.png);
	background-position: center center;
	background-size: cover;
}

#main-index__imagenCafeChocolate{

	display: flex;
	justify-content: center;
	align-items: center;

	height: 30rem;
	background-image: url(../img/cafe_chocolate.jpg);
	background-position: center center;
	background-size: cover;
	position: relative;

	h3{

	   color: white;
	   font-size: 30px;
	   // font-family: "monoton";
       // word-spacing: 10px;
	   position: relative;
	   text-align: center;
     }

}

#main-index__imagenCafeChocolate:before{

	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

.main-cajaTransparente__parrafoAjustado--chico{

	text-align: justify;
	line-height: 1.5;
	margin-top: 3vh;
	width: 350px;
	height: 300px;
}  

.main-cajaTransparente__parrafoAjustado{

	text-align: justify;
	line-height: 1.5;
	margin-top: 3vh;
}  
  

.main-cajaTransparente{

	background-color: rgba(255, 255, 255, 0.3);
	
	margin: 4% auto;
	padding: 2%;
	
	overflow: hidden;
}

.main-cajaTransparente__fondoTitulo{

	background-color: rgba(0, 0, 0, 0.2);
	text-align: center;  
}

/*-LISTA DE IMAGENES AL LADO DEL "QUIENES SOMOS"-*/

.main-cajaTransparente__listaImagenes{

	margin: 5px;
	width: 45vw;
	height: 10vh;
	overflow: hidden;
	background-position: center;
	background-size: cover;
}

#listaIndexSinVinieta{

	list-style: none;
}

#imagenIndex0{

	background-image: url(../img/granos-tostados.jpg);
}

#imagenIndex1{

	background-image: url(../img/meteorito.jpg);
}

#imagenIndex2{

	background-image: url(../img/taza-espresso.jpg);
}

#imagenIndex3{

	background-image: url(../img/astronauta.jpg);
}

#imagenIndex4{

	background-image: url(../img/granos-cafe.jpg);
}

/*--------------------------------------------------TIENDA---------------------------------------*/

.tienda__agrupacionProductos--flexible{

 	display: flex;
 	flex-wrap: wrap;
 	flex-direction: row;
 	justify-content: space-around;	
}

.tienda__cartelOfertas{

	background-color: white;
	font-weight: bold;
	font-size: 30px;
	letter-spacing: 15px;
	text-align: center;	
}

section{
	div.tienda__agrupacionProductos--flexible{
		div.card{
			margin-bottom: 50px;
			div.card-body{
				a.btn{
					background-color: $gris;
					border: none;
					box-shadow: 2px 2px 5px $azul;
				}

				a.btn:hover{
					background-color: $azul;
					box-shadow: 2px 2px 5px $gris;
				}
			}

	    }
	}
}

.cursos-carrusel__imagen--tamanio{
    
    height: 50vh;
    margin: 0 auto;
}

div#carouselExampleControls{

	margin-bottom: 30px;
}

/*---------------------------------CURSOS----------------------------------------------------------*/

.main-cajaTransparente--Oscura{
	background-color: black;
	margin-bottom: 30px;

	img{
		width: 500px;
		padding: 20px;
	}

	h1{
	    text-align: center;
	}
}

section#cursoFiltrado{
	margin-top: 30px;
}

/*---------------------------------TUTORIALES------------------------------------------------------*/

.main-cajaBlanca{

	background-color: white;
	overflow: hidden;
	padding: 2%;
}

.tutoriales__tituloGuia{

    letter-spacing: 5px;
    text-shadow: 3px 3px black;
}

#chemex{

	margin-top: 50px;
}

#prensaFrancesa{

	margin-top: 50px;
	margin-bottom: 50px;
}


.tutorial{

	display: flex;

	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.tutorial__imagen--Pequenia{

	width: 45%;
	height: auto;
	margin: 2.2%;
}

.tutorial__parrafoAjustado{

	width: 45%;
	text-align: justify;
}

.main-tutoriales__titulo--animado{
     
    text-align: center;
    font-family: "monoton";
    word-spacing: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
  

   animation-name: tutorial;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in;
   animation-duration: 1s;
   animation-delay: 0s;
}

@keyframes tutorial{
  
    0%{ color: white}

	20%{ color: $azul}

	40%{ color: #015941 }

	60%{ color: white  }

	80%{ color: $azul }

	100%{ color: #015941 }
}


/*-----------------------AQUI EMPIEZA EL FOOTER--------------------------*/
/*-----------------------------------------------------------------------*/
footer{

	text-align: center;
	background-color: $gris;
}

.footer__icono--tamanio {
	width: 30px;
	height: 30px;
}

@each $redes in facebook, instagram, twitter, gmail {
	li.#{$redes} {
		background: url(../img/#{$redes}.png);
		background-repeat: no-repeat;
	}
}

.redes{ 	
	display: flex;
    justify-content: center;
    a{
    	margin-left: 10px;
    	margin-bottom: 10px;
    	li{
    		height: 24px;
    		width: 24px;
    		text-indent: -99999999px;
    	}    	
    }
 }


